/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Noto Sans JP', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: futura, "avenir next", avenir, "Century Gothic", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  color: #333;
  background: #f2ede9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.form {
  transition: opacity .8s cubic-bezier(0.77, 0, 0.175, 1);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefeffe0;
  &.is-activate {
    opacity: 0;
    z-index: -10;
  }
  &__inner {
    .form__txt--error {
      display: inherit;
      text-align: center;
      margin-top: 22px;
      color: red;
      font-weight: bold;
    }
    .form__txt {
      text-align: center;
      margin-top: 18px;
    }
    input[type="text"] {
      width: 300px;
      display: block;
      margin: auto;
      padding: 10px;
      border-radius: 10px;
      margin-top: 18px;
    }
    button.submitBtn {
      text-align: center;
      display: block;
      width: 300px;
      margin: auto;
      margin-top: 20px;
      font-size: 18px;
      background-color: #319fca;
      color: #fff;
      border-radius: 18px;
      padding: 15px 0;
    }

  }
}

.l-contents {
  overflow-x: hidden!important;
  .l-contents__inner {
    display: flex;
    height: 100%;
    padding: 10px 0;
    &.is-playing {
      justify-content: space-between;
      .l-songs {
        width: 25%;
      }
    }
  }
}

.l-songs {
  transition: all .5s;
  width: 73%;
  position: relative;
  .songs__toggleBtn{
    position: absolute;
    top: 3px;
    width: 30px;
    height: 25px;
    left: -40px;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    &.is-playing{
      opacity: 1;
      z-index: 10;
    }
    .toggleBtn__inner{
      position: relative;
      height: 100%;
      span{
        display: block;
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        right: 8px;
        border-radius: 10px;
        margin: auto;
        background-color: #fff;
      }

      span:first-child{
        top: 7px;
        transform: rotate(40deg);
        width: 68%;
        right: -14px;
      }

      span:nth-child(2){
        top: 49%;
      }
      span:nth-child(3){
        bottom: 0;
        bottom: 4px;
        transform: rotate(-40deg);
        width: 68%;
        right: -11px;


      }

    }

  }

}

.l-songs.is-hide{
  transform: translateX(100%);
}

.l-sidebar {
  transition: all .5s;
  width: 25%;
  padding: 10px;
}

.sidebar {
  background-color: #e91e6357;
  position: relative;
  &.is-hide {
    width: 55px;
    .sidebar__ttl {
      transition: opacity .5s;
      opacity: 0;
      display: none;
    }
    .optionItems{
      display: none;
    }
  }

  .sidebar__toggleBtn {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 25px;
    top: 20px;
    right: 10px;
    margin: auto;
  }
  .toggleBtn {
    span {
      background-color: #fff;
      height: 2px;
      width: 100%;
      position: absolute;
    }
    span:first-child {
      top: 0;
    }
    span:nth-child(2) {
      top: 11.5px;
    }
    span:nth-child(3) {
      bottom: 0;
    }
  }
  &__inner {
    .sidebar__ttl {
      text-align: left;
      font-size: 24px;
      color: #ffffffde;
    }
    .optionItems{
      margin-top: 39px;
      .optionItem{
        &:not(:first-child){
          margin-top: 2%;
        }
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.l-player {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &__inner {
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    iframe[state="play"] {
      opacity: 0.7;
    }

    iframe[state="pause"] {
      opacity: 0.3;
    }

  }
}

.songs {
  width: 100%;
}

.songs__list {
  width: 100%;
  max-width: calc(1000px + 30px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.songs__items {

}

.songs__item {
  position: relative;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 1em;
  //border: 5px solid transparent;
  border: 5px solid #cccccc;
  -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  &[state="play"] {
    border: 5px solid palevioletred;
    .playBtn {
      background-color: palevioletred;
    }
    color: palevioletred;
    a {
      color: palevioletred;
    }
  }
  &[state="pause"] {
    border: 5px solid #d4d31b;
    .playBtn {
      background-color: #d4d31b;
    }
  }
  &[state="stop"] {
    color: #fff;
    //border: 5px solid #d4d31b;
    .playBtn {
      //background-color: #d4d31b;
    }
    a {
      color: #00b0ffb5;
    }
  }

  &:not(:first-child) {
    margin-top: 50px;
  }
}

.vue-anime-list {
  &-enter-active {
    opacity: 0;
    ebkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: perspective(1400px) rotateY(-58deg);
    //transform: translateX(50px);
    transition: {
      property: transform, opacity;
      duration: 0.8s;
      timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      delay: 0s;
    }
  }
  &-enter-to {
    opacity: 1;
    //transform: translateX(0);
    transform: translateY(0);
  }
  &-leave-active {
    opacity: 1;
    //transform: translateX(0);
    transform: translateY(0);
    transition: {
      property: transform, opacity;
      duration: 0.8s;
      timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      delay: 0s;
    }
  }
  &-leave-to {
    opacity: 0;
    transform: translateY(50px);
  }
  &-move {
    transition: {
      property: transform;
      duration: 0.6s;
      timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      delay: 0s;
    }
  }
}

.songs__cover {
  position: relative;
  width: 160px;
  margin: 0;
  font-size: 0;
  img {
    width: 100%;
  }
}

.songs__meta {
  width: calc(100% - 160px - 1em);

  .playBtn {
    cursor: pointer;
    display: block;
    border-radius: 10px;
    color: #fff;
    background-color: #319fca;
    text-align: center;
    padding: 3px 0 6px;
    vertical-align: middle;
    max-width: 70px;
  }

  &__items {
    list-style: none;
    color: #777;
  }
}

@media only screen and(max-width: 1000px) {

  .l-contents {
    .l-contents__inner {
      justify-content: space-between;
    }
  }

  .songs {
    width: 80%;
  }

  .songs__item {
    display: block;
    width: 80%;
    .songs__cover {
      margin-bottom: 4%;
    }
  }
  .songs__cover {
    width: 100%;
  }
  .songs__meta {
    width: 100%;
  }
}


